@page
@{
  ViewData["Title"] = "Connections";
}

<section class="connections panels center" x-data="connections">
  <template x-for="c in connections">
    <div class="connection panel">
      <div class="panel-heading break-all clearfix" style="background-color:##{c.color}">
        <a class="right icon-button pure-button-primary" x-bind:href="`/edit/${c.id}`">
          <i class="fa fa-pencil" title="Edit"></i>
        </a>
        <i class="fa fa-database"></i> <span class="mono" x-text="c.name"></span>
      </div>
      <div class="panel-body pure-g break-all">
        <div class="pure-u-1-4"><strong>Hostname</strong></div>
        <div class="pure-u-3-4"><span class="mono" x-text="c.host"></span></div>
        <div class="pure-u-1-4"><strong>Database</strong></div>
        <div class="pure-u-3-4"><span class="mono" x-text="c.database"></span></div>
        <div class="pure-u-1-4"><strong>Username</strong></div>
        <div class="pure-u-3-4"><span class="mono" x-text="c.username"></span></div>
      </div>
      <div class="panel-footer">
        <a x-bind:href="`/console/${c.id}`">Connect</a> &mdash; <a x-bind:href="`/schema/${c.id}`">View Schema</a>
      </div>
    </div>
  </template>
  <div class="panel new-connection text-center flex-1">
    <div class="panel-body"><a href="/create"><i class="fa fa-plus"></i> Add connection</a></div>
  </div>
</section>

@section Scripts {
  <script defer type="module" src="~/js/connections.js" asp-append-version="true"></script>
}