@page
@{
  ViewData["Title"] = "Create";
}

<section class="center">
  <div class="panel" x-data="create">
    <div class="panel-heading">Create Connection</div>
    <div class="panel-body">
      <form class="pure-form pure-form-aligned" id="connection-form" x-on:submit.prevent="handleSubmit" action="/foo">
        <fieldset>
          <div class="pure-control-group">
            <label for="name">Name</label>
            <input id="name" x-model="name" />
          </div>
          <div class="pure-control-group">
            <label for="type">Type </label>
            <select id="type" x-model="databaseType" required="required">
              <option>PostgreSQL</option>
              <option>MySQL</option>
              <option>Oracle</option>
            </select>
          </div>
          <div class="pure-control-group">
            <label for="color">Color</label>
            <div class="color-picker" id="color">
              <template x-for="colorChoice in colorChoices">
                <div class="color" x-bind:style="'background-color:' + colorChoice" x-on:click="color = colorChoice"
                  x-bind:class="color === colorChoice && 'selected'">
                </div>
              </template>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="pure-control-group">
            <label for="hostname">Hostname</label>
            <input id="hostname" x-model="hostname" required="required" />
          </div>
          <div class="pure-control-group">
            <label for="port">Port</label>
            <input id="port" type="number" x-model="port" />
          </div>
          <div class="pure-control-group">
            <label for="database">Database</label>
            <input id="database" x-model="database" required="required" />
          </div>
          <div class="pure-control-group">
            <label for="username">Username</label>
            <input id="username" x-model="username" required="required" />
          </div>
          <div class="pure-control-group">
            <label for="password">Password</label>
            <input id="password" type="password" x-model="password" required="required" />
          </div>
        </fieldset>
      </form>
    </div>
    <div class="panel-footer clearfix">
      <div class="right"><a class="pure-button" href="/">Cancel</a>
        <button class="pure-button pure-button-primary save-button" type="submit" form="connection-form" value="Save">
          <i class="fa fa-floppy-o"></i> Save</button>
      </div>
    </div>
  </div>
</section>


@section Scripts {
  <script defer type="module" src="~/js/create.js" asp-append-version="true"></script>
}