<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - SqlInjector</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Ubuntu:400,700|Ubuntu+Mono:400,700" />
  <link rel="stylesheet" href="~/css/common.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/SqlInjector.styles.css" asp-append-version="true" />
  @await RenderSectionAsync("Scripts", required: false)
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>

<body>
  <header>
    <div class="home-menu pure-menu pure-menu-horizontal">
      <a class="pure-menu-heading" href="/">SQL Injector</a>
    </div>
  </header>

  <main role="main">@RenderBody()</main>

  <footer></footer>
</body>

</html>
