<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - SqlInjector</title>
  <link rel="stylesheet" href="/lib/purecss/pure.css">
  <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Ubuntu:400,700|Ubuntu+Mono:400,700" />
  <link rel="stylesheet" href="~/css/common.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/SqlInjector.styles.css" asp-append-version="true" />
  @await RenderSectionAsync("Scripts", required: false)
  <script defer src="/lib/alpinejs/cdn.js"></script>
</head>

<body>
  <header>
    <div class="home-menu pure-menu pure-menu-horizontal">
      <a class="pure-menu-heading" href="/">SQL Injector</a>
    </div>
  </header>

  <main role="main">@RenderBody()</main>

  <footer></footer>
</body>

</html>
