<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SqlInjector</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link
      rel="stylesheet"
      href="~/SqlInjector.styles.css"
      asp-append-version="true"
    />
    @await RenderSectionAsync("Scripts", required: false)
  </head>
  <body>
    <header></header>

    <div>
      <main role="main">@RenderBody()</main>
    </div>

    <footer></footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
  </body>
</html>


